body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
    background-color: #f4f4f4;
    }

h1, h2 {
    color: #0a3461;
    }
        
.header {
    text-align: center;
        }
        
.header h1 {
    text-align: center;
    font-size: 2.5em;
    color: #0a3461
    margin-top: 0;
    margin-bottom: 0.25em;
        }
        
.contact {
    margin: 10px 0;
    font-size: 14px;
       }
        
.contact a {
    color: #007bff;
    text-decoration: none;
        }
        
.section {
    margin: 40px 0;
    padding: 10px 20px;
        }
        
.section h2 {
    text-align: center;
    font-size 1.5em;
    color: #0a3461;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
        }
        
.item {
    margin-bottom: 15px;
        }
        
.item h3 {
    margin: 0;
    font-size: 18px;
    color: #555;
        }
       
.item p {
    margin: 5px 0;
     font-size: 14px;
        }
                
.skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
        }
        
.skills ul li {
    display: inline-block;
    background: #007bff;
    color: #fff;
     padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
        }

.container {
  max-width: 900px;
  margin: 0 auto;   
  padding: 20px;    
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 900px;
    margin:0 auto;
    padding: 20px;
}

.summary h2 {
  text-align: center;
  font-size: 1.75em;
}

.summary p {
  text-align: center;
  font-style: italic;
}

.summary, .skills {
    margin: 40px;
}